<h1 class="my-3"><%= t '.title' %></h1>
<div class="my-3">
  <% if current_user.admin? %>
    <%= link_to (t '.register'), new_package_coverage_path, class: "btn btn-dark " %>
  <% end %>
</div>
<%= render 'list' %>
