<h2>Editar Seguradora <%= @insurance_company.name %></h2>
<div id="back"> 
  <%= link_to 'Voltar', insurance_company_path(@insurance_company) , type:"button", class:"btn btn-outline-dark" %>
</div>
<%= render 'form' %>