<h2>Editar Seguradora <%= @insurance_company.name %></h2>
<button id="back"> 
  <%= link_to 'Voltar', insurance_company_path(@insurance_company) , type:"button", class:"btn btn-outline-dark" %>
</button>
<%= render 'form' %>