<% if @product_categories.any? %>
  <table class="table table-striped my-3">
    <tbody> 
<% @product_categories.each do |p| %>
      <tr class="my-3">
          <td><%= p.name %></td>
          <td><%= link_to 'Produtos vinculados', root_path , type:"button", class:"btn btn-dark"%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t 'no_product_category_registered' %></p>
<% end %>