<% if @product_categories.any? %>
  <table class="table table-striped my-3">
    <tbody> 
<% @product_categories.each do |p| %>
      <tr class="my-3">
          <td class="text-center" ><strong><%= p.name %></strong></td>
          <td id=<%= dom_id(ProductCategory.find(p.id)) %> ><%= link_to 'Produtos vinculados', p , type:"button", class:"btn btn-outline-dark"%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t 'no_product_category_registered' %></p>
<% end %>