<h1 class="my-3"><%= t '.title' %></h1>

<% if current_user.admin? %>
  <%= link_to (t '.register'), new_product_category_path, class: "btn btn-dark"%>
<% end %>

<%= render 'product_categories_list' %>
