<h1><%= t '.title' %></h1>

<% if @product_categories.any? %>
  <ul class="list-group list-group-flush">
    <% @product_categories.each do |p| %>
      <li class="list-group-item"><%= p.name %></li>
    <% end %>
  </ul> 
<% else %>
  <p><%= t '.fail' %></p>
<% end %>

<% if current_user.admin? %>
  <%= link_to (t '.register'), new_product_category_path %>
<% end %>
