<h2>Editar produto <%= @product.product_model %></h2>
<button id="back" class="btn btn-outline-dark" type="button" style="margin-bottom:16px;" > 
  <%= link_to 'Voltar', product_path(@product) %>
</button>
<%= render 'form' %>