<h1>Lista de Produtos</h1>
<br/>
<%= link_to "Adicionar Produto", new_product_path %>
<br/>
<% if @products.any? %>
  <% @products.each do |product| %>
    <ul>
      <li><%= link_to(product.product_model, product_path(product.id)) %> - <%= product.brand %></li>
    </ul>
  <% end %>
<% else %>
  <p>Não existem produtos cadastrados</p>
<% end %>